:root {
  --indent: calc(var(--tile) * 4);
  
  --dark: #002c02;
  --mid-dark: #2a592f;
  --mid: #568b5d;
  --mid-light: #84c18f;
  --light: #b5f9c4;

  --attention: #00f6cd;
  --bg: #fffffc;
}

* {
  white-space: nowrap;
  color: var(--dark);
}

body {
  background-color: var(--bg);
}

main {
  margin-top: var(--tile);
}

details {
  margin-left: var(--indent);
  position: relative;
}

details::before {
  content: '';
  display: block;
  height: calc(100% - var(--tile));
  width: 1px;
  position: absolute;
  left: 3px;
  bottom: 0;
  border-left: 1px solid var(--light);
}

details:hover::before {
  border-left: 1px solid var(--mid-dark);
}

em {
  padding-left: var(--indent);
}

summary {
  color: var(--mid-light);
}

a {
  all: unset;
  color: initial;
  cursor: pointer;
}

details:hover > summary a,
a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  right: var(--tile);
  left: var(--indent);
  padding: var(--tile) 0 0;
  display: flex;
  z-index: 2;
  background: var(--bg);
  border-bottom: 1px solid var(--light);
}

header > button {
  z-index: 2;
  position: absolute;
  opacity: 0.2;
}

ol {
  all: unset;
  padding: var(--tile);
  padding-left: calc(var(--indent));
  background: var(--bg);
  z-index: 1;
}

li {
  all: unset;
  display: inline-block;
  width: var(--indent);
}

li:first-child button {
  cursor: unset;
}

button {
  all: unset;
  font-weight: bold;
  cursor: pointer;
  font-size: calc(var(--tile) / 2);
  text-transform: uppercase;
}

.App {
  padding: var(--indent);
}

